/* .container-previous {
    overflow-x: auto;
  }


.table-previous {
    width: 100%;
  } */


.dropdown-previous{
  cursor: pointer !important;
}

.dropdown-previous:hover{
background-color: bisque !important;
}

.PreviousCount-header-container{
  display: flex;
  justify-content: space-between;
}

.PreviousCount-header{
  /* height: 20px; */
  /* max-height: 35px; */
  /* width: max-content; */
  /* text-align: center; */
  padding: 5px;
  display: inline-block;
  width: auto;
}

.IpDetails{
  text-align: left;
}

/* .backgroundImage{
  height: 150px;
  width: 600px;
  background-image: url('https://images.unsplash.com/photo-1525097596740-cb2a70e07e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80')
  background-image: url('./image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */


.IPheader{
  margin-bottom: 15px;
  text-decoration: underline;
}


/* testing */

.btn-cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 20px;
  font-size: .8rem;
  font-weight: 600
}

.btn-cstm-light {
  color: #fff;
  background-color:#212841  ;
  border-color: #fff
}

.btn-cstm-light:hover {
  color: #212841;
  background-color: #ececec;
  border-color: #e6e6e6
}

.btn-cstm-light.focus,
.btn-cstm-light:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-cstm-light.disabled,
.btn-cstm-light:disabled {
  color: #212841;
  background-color: #fff;
  border-color: #fff
}

.btn-cstm-light:not(:disabled):not(.disabled).active,
.btn-cstm-light:not(:disabled):not(.disabled):active,
.show>.btn-cstm-light.dropdown-toggle {
  color: #212841;
  background-color: #e6e6e6;
  border-color: #dfdfdf
}

.btn-cstm-light:not(:disabled):not(.disabled).active:focus,
.btn-cstm-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-cstm-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-cstm-dark {
  color: #fff;
  background-color: #28304e;
  border-color: #28304e
}

.btn-cstm-dark:hover {
  color: #fff;
  background-color: #1b2035;
  border-color: #171b2c
}

.btn-cstm-dark.focus,
.btn-cstm-dark:focus {
  box-shadow: 0 0 0 .2rem rgba(40, 48, 78, .5)
}

.btn-cstm-dark.disabled,
.btn-cstm-dark:disabled {
  color: #fff;
  background-color: #28304e;
  border-color: #28304e
}

.btn-cstm-dark:not(:disabled):not(.disabled).active,
.btn-cstm-dark:not(:disabled):not(.disabled):active,
.show>.btn-cstm-dark.dropdown-toggle {
  color: #fff;
  background-color: #171b2c;
  border-color: #121624
}

/* testing end  */