<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <!-- <h1>Hello, world!</h1>
    <h2>This is a test</h2> -->
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">Id</th> -->
          <th scope="col">Username</th>
          <th scope="col">Ip address</th>
          <th scope="col">Date_Time</th>
          <th scope="col">Login node</th>
        </tr>
      </thead>
      <tbody>
        {% for table in tables %}
        <tr class="table-light">
          <!-- <th scope="row" >{{table.id}}</th> -->
          <td>{{table.user_name}}}</td>
          <td>{{table.Ip_address}}</td>
          <td>{{table.date_time}}</td>
          <td>{{table.Login_node}}</td>
        </tr> 
        {% endfor %}
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>